
DJANGO_DEBUG=true

# hosts are comma-separated, if multiple are needed
DJANGO_ALLOWED_HOSTS='http://host1.com,http://192.168.1.1'
DJANGO_SECRET_KEY=<Django secret key>

DJANGO_DB_HOST=<database host, defaults to localhost, db in docker>
DJANGO_DB_DEFAULT_NAME=<default database name>
DJANGO_DB_DEFAULT_USER=<default database username>
DJANGO_DB_DEFAULT_PASSWORD=<default database password>
DJANGO_DB_LEGACY_NAME=<legacy database name, only used for migrations>
DJANGO_DB_LEGACY_USER=<legacy database username>
DJANGO_DB_LEGACY_PASSWORD=<legacy database password>

DJANGO_USE_AWS_S3=true

DJANGO_AWS_ACCESS_KEY_ID=<AWS access key>
DJANGO_AWS_SECRET_ACCESS_KEY=<AWS secret key>
DJANGO_AWS_STORAGE_BUCKET_NAME=<bucket name>
DJANGO_AWS_S3_ENDPOINT_URL=https://<bucket name>.s3.amazonaws.com
