{% extends 'nena.html' %}

{% block subtitle %}
    {{ view.name }}
{% endblock %}

{% block page_content %}
    <div class="campl-column12 clearfix">
    <div class="campl-content-container">
    {% if photos %}
        <table class="campl-table campl-table-bordered campl-table-condensed campl-table-striped">
            <thead>
                <tr>
                    <th>Dialect</th>
                    <th>Title</th>
                    <th>Preview</th>
                </tr>
            </thead>
        {% for photo in photos  %}
            <tr>
                <td><a href={% url 'dialects:dialect-detail' photo.dialect.pk  %}>{{ photo.dialect }}</a></td>
                <td><a href={% url 'gallery:photo-detail' photo.pk  %}>{{ photo.title }}</a></td>
                <td><a href={% url 'gallery:photo-detail' photo.pk  %}><img src="{{ photo.thumbnail.url }}"></a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
            No photos uploaded.
    {% endif %}
    </div>
    </div>

    {% if user.is_staff %}
    <div class='campl-column12'>
    <div class="campl-content-container">
        <div style="background-color: #fec9; padding: 6px;">
          Staff-only buttons: <br>
          <a class="button" href="{% url 'gallery:photo-create' %}">New photo</a>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}
