{% extends 'nena.html' %}
{% load static %}
{% load nbsp %}

{% block page_wrapper_class %}{% if dialects|length > 2 %}fullwidth{% endif %}{% endblock %}

{% block subtitle %}
  {% if section %}
    {% if bulk_edit %}Edit {% endif %}

    {% for heading, number in breadcrumb_bits %}{% spaceless %}
    <a href="{% spaceless %}
              {% if dialects %}
                {% url 'dialects:dialect-grammar-section' dialect_ids|join:',' heading %}
              {% else %}
                {% url 'grammar:feature-list-section' heading %}
              {% endif %}
              {% endspaceless %}" title="up to higher section">{{ number }}</a>
    {% endspaceless %}{% endfor %}
    {{section.name|safe}}

    {% if dialects %}
      in
      {% for dialect in dialects %}
        {{dialect.name}}{% if not forloop.last %}{% if bulk_edit %} based on {% else %},{% endif %}{% endif %}
      {% endfor %}
    {% endif %}
  {% elif dialects %}
    Grammatical description of
    {% for dialect in dialects %}
      {{dialect.name}}{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% else %}
    Grammatical description
  {% endif %}
{% endblock %}

{% block page_content %}
  {% if not bulk_edit and dialects %}
  <form id="compare_form" style="" action="{% url 'dialects:setup-comparison' dialect_ids|join:',' %}" method="GET">
    {% if dialects|length == 1 %}
    <span style="float: left;">
      {% if section %}
      This section has {{num_features}} of the
      <a href="{% url 'dialects:dialect-grammar' dialect_ids|join:',' %}">{{total_features}} total features</a>
      detailed for the dialect
      {% else %}
      This dialect has {{num_features}} features
      {% endif %}
    </span>
    {% endif %}

    Compare with
    <select name="compare_with" onchange="$('#compare_form').submit()" style="font-family: monospace">
      <option>-- choose dialect --</option>
      {% for id, name, feature_count in all_dialects %}
      <option value="{{id}}">{{name|ljust:"30"|nbsp}} {{feature_count}} feature{{feature_count|pluralize}}</option>
      {% endfor %}
    </select>
  </form>
  {% endif %}


  {% if bulk_edit %}
  <form action="" method="POST">
  {% csrf_token %}
  {% endif %}

  <div id="grammar_tree_heading" class="p-3">
    <div class="controls" {% if bulk_edit %}style="visibility: hidden"{% endif %}>
      <button class="button" onclick="$('#grammar_tree .pop_open').prop('checked', true)">
        Open all
      </button>
      <button class="button" onclick="$('#grammar_tree .pop_open').prop('checked', false)">
        Close all
      </button>

      {% if dialects %}
      <label class="ilb">
        <input class="chex" type="checkbox" checked onchange="$('#grammar_tree').toggleClass('show_entries', $(this).prop('checked'))">
        Show with entries
      </label>
      <label class="ilb">
        <input class="chex" type="checkbox" checked onchange="$('#grammar_tree').toggleClass('show_empties', $(this).prop('checked'))">
        Show without entries
      </label>
      {% endif %}
    </div>

    {% if bulk_edit %}
      eg. &nbsp;
      <span class="utf8-text" style="font-size:1.5em">
        <span style="color:blue">/w/</span> <span style="color:red">P</span> ~ <span style="color:blue">/v/</span> <span style="color:red">M</span> <span style="color:green">"only at end of word"</span>
      </span>
      <input class="button fr" type="submit" value="Save all">
      <a class="button dull fr" href="?" style="float:right">Cancel</a>

      <select style="position: absolute; right: 0; top: 50px;" onchange="window.location=window.location+'&base_on='+$(this).val()">
        <option>-- base on: --</option>
        {% for id, name, feature_count in all_dialects %}
        <option value="{{id}}">{{name}}</option>
        {% endfor %}
      </select>
    {% else %}
      {% if dialects|length > 1 %}
        {% for d in dialects %}
        <span class="dialect_header">
          <a class="plain" href="{% url 'dialects:dialect-detail' d.id %}">{{d.name}}</a>
          <a href="{% url 'dialects:setup-comparison' dialect_ids|join:',' %}?remove_compare={{d.id}}&section={{section.fullheading}}">&times;</a>
        </span>
        {% endfor %}
      {% elif user.is_staff and section %}
        <a class="button fr" href="?edit=1">
          Bulk edit
        </a>
      {% endif %}
    {% endif %}
  </div>

  <ul id="grammar_tree" class="show_entries show_empties {{dialects|yesno:',grammar_only'}} {{bulk_edit|yesno:'bulk_edit,'}} multi_dialect">
    {% for feature, info, dialectfeatures in feature_list %}
      {% if info.open and not forloop.first %}
        <div class='folder'></div>
        <input type="checkbox" class="pop_open" id="pop_open_{{forloop.counter}}"
          {%if feature_list|length < 100%}checked{%endif%}
          {%if bulk_edit%}checked{%endif%}
          {%if info.level < 2 %}checked{%endif%}
          >
        <ul>
      {% elif not forloop.first %}
        </li>
      {% endif %}

      <li class="level_{{info.level}}">

        <label for="pop_open_{{forloop.counter|add:'1'}}">
          {{feature|safe}}
          {% if feature.fullheading %}
          <a class="section_link" href="{% spaceless %}
              {% if dialects %}
                {% url 'dialects:dialect-grammar-section' dialect_ids|join:',' feature.fullheading %}
              {% else %}
                {% url 'grammar:feature-list-section' feature.fullheading %}
              {% endif %}
              {% endspaceless %}" title="show just this section">§</a>
          {% endif %}
        </label>

        {% if bulk_edit %}
          {% if forloop.first %}
          <textarea class="df_edit_bulk utf8-text" name="bulk_edit" rows="{{feature_list|length|add:'-1'}}">{{raw_text|safe}}</textarea>
          {% endif %}
        {% elif dialects %}
          {% for dialectfeature in dialectfeatures %}
            <div class="example dialectfeature" data-src="{% url 'dialects:dialect-feature-pane' dialectfeature.id feature.fullheading %}">
              <span class="hidden-delimiter">,</span>
              {% include 'dialects/_dialectfeature_pane.html' with dialect_id=dialectfeature.dialect_id df=dialectfeature feature_heading=feature.fullheading%}
            </div>
          {% empty %}
            {% if feature.fullheading %}
            <div class="example no_dialectfeature" data-src="{% url 'dialects:dialect-feature-pane' dialects.0.id feature.fullheading %}">
              {% include 'dialects/_dialectfeature_pane.html' with dialect_id=dialects.0.id feature_heading=feature.fullheading%}
            </div>
            {% endif %}
          {% endfor %}
          {% if dialectfeatures|length == 1 %}
            <div class="example">
              {% for example in dialectfeatures.0.examples %}
                {{example.example}}
              {% endfor %}
            </div>
          {% endif %}
        {% elif info.dialect_count %}
          <div class="example">
          {% with n=info.dialect_count %}
            <a href="{% url 'grammar:feature-detail' feature.id %}">
              {{n}} dialect{{n|pluralize}}
            </a>
            {{n|pluralize:'has,have'}} this feature
          {% endwith %}
          </div>
        {% endif %}

      {% for close in info.close %}
      </li></ul>
      {% endfor %}
    {% endfor %}
  </ul>

  {% if bulk_edit %}

  </form>
  {% endif %}

  {% if dialects|length < 2 %}
  {# only allow inline editing for single-language selection #}
  <script>
  $(function(){
    $(document)
    .on('click', '.example .edit', function(e){
      $(this).parent()
        .addClass('loading')
        .load($(this).attr('href') + ' #form_holder form', function(response, status, xhr){
          $(this).removeClass('loading');
        })
      return false;
    })
    .on('submit', '.df_form', function(e){
      form_data = $(this).serializeArray();
      button = $(this).find("input[type=submit]:focus")
      form_data.push({ name: button.attr('name'), value: button.attr('value') });

      $(this).addClass('loading')
      $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: form_data,
        context: this,
        success: function(data){
          $example = $(this).parents('.example');
          $example.load($example.attr('data-src'));
        }
      });
      return false;
    })
    .on('click', '.example .cancel', function(e){
      $example = $(this).parents('.example');
      $example.addClass('loading')
              .load($example.attr('data-src'), function(){ $(this).removeClass('loading')});
      e.preventDefault();
      return false;
    })

    $('.controls .chex').trigger('change')

  })
  </script>
  {% endif %}

  <script>
  $(function(){
    var rows = {{feature_list|length|add:'-1'}}
    $('.df_edit_bulk').on('keyup', function(e){
      // prevent more rows in textbox than features in list
      var val = $(this).val().split("\n")
      if( val.length > rows ) {
        txt = $(this).get(0);
        cursor_position = txt.selectionStart;
        $(this).val(val.slice(0, rows).join("\n"));
        txt.setSelectionRange(cursor_position, cursor_position);
      }
    })

    $('.example.dialectfeature').each(function(){
      $(this).parents('li').addClass('has_entry')
    })
    $('.example.no_dialectfeature').each(function(){
      $(this).parents('li').addClass('has_empty')
    })
  })
  </script>

  <style>
  .df_edit_bulk {
    position:absolute;
    top: 2.2em;
    padding: 0.3em;
    right:0;
    width: 50%;
    height: initial;
    background-color: #feca;
    font-size: 1em;
    line-height: 2.5em;
    z-index: 2;
    overflow: hidden;
    white-space: pre;
  }

  #grammar_tree.bulk_edit li {
    max-height: none!important;
    white-space: nowrap;
    border-bottom: 1px solid var(--dull);
    margin-bottom: -1px;
    background-color: transparent;
    padding: 0 2px;
  }

  #grammar_tree li > label {
    font-size: 1em;
    line-height: 2.5em;
    padding: 0em 0 0em 48px;
    margin: 0;
  }

  .hidden-delimiter {
    display: inline-block;
    opacity: 0;
    width: 1px;
    overflow: hidden;
  }

  .hidden-delimiter {
    display: inline-block;
    opacity: 0;
    width: 1px;
    overflow: hidden;
  }
  </style>


  {% if user.is_staff %}
  {% if user.is_superuser %}{# the only menu option at this time is just for superusers, so hide whole thing from everyone else #}
  <div class='campl-column12'>
  <div class="campl-content-container">
      <div style="background-color: #fec9; padding: 6px;">
        Staff-only buttons: <br>
        <a class="button" href="{% url 'admin:grammar_feature_changelist' %}" target="_BLANK">Edit grammar feature tree</a>
        <a class="button" href="{% url 'grammar:coverage-check' 'grammar' %}" target="_BLANK">Download Grammar Coverage CSV</a>
        <a class="button" href="{% url 'grammar:coverage-check' 'dialects' %}" target="_BLANK">Download Dialects Coverage CSV</a>
      </div>
  </div>
  </div>
  {% endif %}
  {% endif %}
{% endblock %}
