{% extends 'nena.html' %}

{% block subtitle %}
    {% if search_term %}Replace {{dialect_features|length}} "{{search_term}}" entries for {% endif %}
    {% if with_without_unknown == 'with' %} Dialects with{% endif %}
    {% if with_without_unknown == 'without' %} Dialects without{% endif %}
    {% if with_without_unknown == 'unknown' %} Dialects with no record for{% endif %}
    {{ feature.fullheading }}&nbsp;{{ feature.name|safe }}
    {% if entry_filter %}matching "<span class="aramaic">{{entry_filter|safe}}</span>"{% endif %}
    {% if chosen_location_name %}in {{chosen_location_name}}{% endif %}
    {% if chosen_community_name %}in {{chosen_community_name}} communities{% endif %}
    {% if search_term %}?{% endif %}
{% endblock %}

{% block page_content %}
  <div class="campl-column12 clearfix" id="feature_detail">
  <div class="campl-content-container">

    <p>
      Of the {{num_dialects}} dialects
      <a href="{% url 'grammar:feature-detail' feature.id %}">{{num_with}} {{num_with|pluralize:'has,have'}} this feature</a>,
      <a href="{% url 'grammar:feature-detail' feature.id %}?is_absent=true">{{num_without}} {{num_without|pluralize:"doesn't,don't"}}</a>
      and
      <a href="{% url 'grammar:feature-detail' feature.id %}?is_unknown=true">{{num_unknown}} {{num_unknown|pluralize:'has,have'}} no current record</a>.
    </p>

    {% include 'dialects/_dialect_filter.html' %}
    <form id="table_form" action="{% url 'grammar:feature-map' feature.id %}?{{ request.GET.urlencode }}" method="post">
    {% csrf_token %}
    <input class="button fr" type="submit" value="See map of this feature">
    <a id="add_to_group" class="button fr">
        Add to map group
    </a>
    <table class="campl-table campl-table-condensed campl-table-striped">
      {% for dialect_feature in dialect_features %}
      {% with dialect=dialect_feature.dialect entries=dialect_feature.entries %}
        <tr>
          <td style="width: 5em;">
            <input type="checkbox" class="chex row_select" name="checked_dialect_id" value="{{dialect.id}}">
            <input type="hidden" name="dialect_id" value="{{dialect.id}}">
            <input type="hidden" name="group_number" value="0">
            <span class="map_group"></span>
          </td>
          <td>
            <a href="{% url 'dialects:dialect-detail' dialect.id %}">{{ dialect.name }}</a>
          </td>
          <td>
          {% if dialect_feature.category %}
            {{dialect_feature.category}}<br>
          {% endif %}

          {% for entry in dialect_feature.entries.all %}
            <div>
              {{ entry.entry }}
              {% if entry.entry == search_term %}
                <span style="color:red;">&rarr; {{replacement}}</span>
              {% endif %}
              <a class="filter" title="filter entries like this" href="{% url 'grammar:feature-detail' feature.id %}?entry={{ entry.entry }}">
                <svg viewBox="0 0 80 90" focusable=false><path d="m 0,0 30,45 0,30 10,15 0,-45 30,-45 Z"></path></svg>
              </a>
            </div>
          {% endfor %}
          </td>
          <td>{{ dialect.get_community_display }}</td>
          <td>{{ dialect.get_location_display }}</td>
          <td>
            {% if dialect_feature.id %}
            <a href="{% url 'dialects:dialect-feature' dialect.id dialect_feature.id %}">details</a>
            {% endif %}
            {% if user.is_staff %}
            <a href="{% url 'dialects:dialect-feature-edit' dialect.id feature.fullheading %}">{{dialect_feature.id|yesno:"edit,add"}}</a>
            {% endif %}
          </td>
        </tr>
      {% endwith %}
      {% empty %}
      <tr>
      <td style="padding: 4em 10em;">No results found</td>
      </tr>
      {% endfor %}
    </table>
    </form>

  </div>
  </div>

 {% if user.is_staff %}
  <div class='campl-column12'>
  <div class="campl-content-container">
      <div style="background-color: #fec9; padding: 6px;">
        Staff-only: <br>
        {% if with_without_unknown == 'with' %}
        <form action="" method="POST">
          {% csrf_token %}
          In above entries find
          <input name="find" value="{{search_term}}" {{search_term|yesno:"readonly,"}}>
          and replace with
          <input name="replace" value="{{replacement}}" {{search_term|yesno:"readonly,"}}>
          {% if search_term %}
            <input type="submit" class="button" name="confirm" value="Confirm">
            (this can't be undone)
          {% else %}
            <input type="submit" class="button" value="Apply">
          {% endif %}
        </form>
        {% endif %}
        {% if with_without_unknown == 'unknown' %}
          <button class="button" id="mark_without">Mark as does not have this feature</button>
        {% endif %}
      </div>
  </div>
  </div>
  {% endif %}

<style>
.dialect_filter_form {margin-bottom: -2.6em;}
.map_group { width: 1.5em; height: 1.5em; background:white; border: 2px solid black; border-radius:50%; text-align:center; font-weight: bold; display:none;}
</style>

<script>
$(function(){
  $('#feature_detail').on('click', '#add_to_group', function(){
    group_number = prompt('Which group number? ("0" to remove from group)');
    $('.row_select:checked').each(function(){
      $(this).siblings('[name="group_number"]').val(group_number)
      $(this).siblings('.map_group').html(group_number).css('display', 'inline-block')
      $(this).prop('checked', false )
    })
  });

  $('#mark_without').on('click', function(){
    $('#table_form').attr('action', '?mark_without=true').submit()
  })
})
</script>
{% endblock %}
