{% extends 'nena.html' %}

{% block subtitle %}
    {{ feature.fullheading }}&nbsp;{{ feature.name|safe }}
{% endblock %}

{% block page_content %}
  <div class="campl-column12 clearfix" id="feature_detail">
  <div class="campl-content-container">
    <table class="campl-table campl-table-condensed campl-table-striped">
      {% for dialect_feature in dialect_features %}
      {% with dialect=dialect_feature.dialect entries=dialect_feature.entries %}
        <tr>
          <td>
            <a href="{% url 'dialects:dialect-detail' dialect.id %}">{{ dialect.name }}</a>
          </td>
          <td>
          {% for entry in dialect_feature.entries.all %}
            {{ entry.entry|safe }}<br>
          {% endfor %}
          </td>
          <td>
            <a href="{% url 'dialects:dialect-feature' dialect.id dialect_feature.id %}">details &raquo;</a>
          </td>
        </tr>
      {% endwith %}
      {% endfor %}
    </table>

    <p>
      <br>
      <br>
      <br>
      <a href="{% url 'grammar:feature-map' feature.id %}">
        See map of this feature &raquo;
      </a>
    </p>
  </div>
  </div>
{% endblock %}
