{% extends 'nena.html' %}
{% load static %}

{% block subtitle %}
  {% if section and dialects %}
    {{section|safe}} in
    {% for dialect in dialects %}
      {{dialect.name}}{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% elif section %}
    {{section|safe}}
  {% elif dialects %}
    Grammatical description of
    {% for dialect in dialects %}
      {{dialect.name}}{% if not forloop.last %},{% endif %}
    {% endfor %}
  {% else %}
    Grammatical description
  {% endif %}
{% endblock %}

{% block page_content %}
  {% if dialects|length < 2 %}
  <p class="p-3">
    {% if section %}
    This section has {{num_features}} of the
    <a href="{% url 'dialects:dialect-grammar' dialect_ids|join:',' %}">{{total_features}} total features</a>
    detailed for the dialect
    {% else %}
    This dialect has {{num_features}} features
    {% endif %}
  </p>
  {% endif %}

  <div id="grammar_tree_heading" class="p-3">
    <div class="controls">
      <button class="button pill" onclick="$('#grammar_tree .pop_open').prop('checked', true)">
        Open all
      </button>
      <button class="button pill" onclick="$('#grammar_tree .pop_open').prop('checked', false)">
        Close all
      </button>

      {% if dialects %}
      <label class="ilb">
        <input class="chex" type="checkbox" checked onchange="$('#grammar_tree').toggleClass('show_entries')">
        Show with entries
      </label>
      <label class="ilb">
        <input class="chex" type="checkbox" checked onchange="$('#grammar_tree').toggleClass('show_empties')">
        Show without entries
      </label>
      {% endif %}
    </div>

    {% if dialects|length > 1 %}
    {% for d in dialects %}
    <span class="dialect_header">
      <a class="plain" href="{% url 'dialects:dialect-detail' d.id %}">{{d.name}}</a>
      <a href="{% url 'dialects:dialect-grammar' dialect_ids|join:',' %}?remove_compare={{d.id}}">&times;</a>
    </span>
    {% endfor %}
    {% else %}
    <form id="compare_form" action="" method="GET">
      Compare with
      <select name="compare_with" onchange="$('#compare_form').submit()">
        <option>-- choose dialect --</option>
        {% for id, name in all_dialects %}
        <option value="{{id}}">{{name}}</option>
        {% endfor %}
      </select>
    </form>
    {% endif %}
  </div>

  <ul id="grammar_tree" class="show_entries show_empties {{dialects|yesno:',grammar_only'}}">
    {% for feature, info in feature_list %}
      {% if info.open and not forloop.first %}
        <div class='folder'></div>
        <input type="checkbox" class="pop_open" id="pop_open_{{forloop.counter}}" {%if feature_list|length < 100%}checked{%endif%}>
        <ul>
      {% elif not forloop.first %}
      </li>
      {% endif %}

      <li class="level_{{info.level}} {% spaceless %}
                   {% if info.has_entry or info.dialects %} has_entry {% endif %}
                   {% if info.has_empty or num_features == 0 %} has_empty {% endif %}{% endspaceless %}">

        <label for="pop_open_{{forloop.counter|add:'1'}}">
          {{feature|safe}}
          {% if feature.fullheading %}
          <a class="section_link" href="{% spaceless %}
              {% if dialects %}
                {% url 'dialects:dialect-grammar-section' dialect_ids|join:',' feature.fullheading %}
              {% else %}
                {% url 'grammar:feature-list-section' feature.fullheading %}
              {% endif %}
              {% endspaceless %}" title="show just this section">§</a>
          {% endif %}
        </label>

        {% for dialect_id, entries in info.dialects.items %}
        <div class="example {% if dialects|length > 1 %}multiple{% endif %}"
          {% if dialects|length < 2 %}data-src="{% url 'dialects:dialect-feature-pane' dialect_id feature.fullheading %}"{% endif%}>
            {% include 'dialects/_dialectfeature_pane.html' with feature_heading=feature.fullheading%}
        </div>
        {% empty %}
          {% if feature.fullheading %}
          <div class="example {% if dialects|length > 1 %}multiple{% endif %}"
            {% if dialects|length < 2 %}data-src="{% url 'dialects:dialect-feature-pane' dialects.0.id feature.fullheading %}"{% endif%}>
            {% include 'dialects/_dialectfeature_pane.html' with dialect_id=dialects.0.id feature_heading=feature.fullheading%}
          </div>
          {% endif %}
        {% endfor %}
        {% if info.dialect_count %}
        <div class="example">
          {% with n=info.dialect_count %}
          <a href="{% url 'grammar:feature-detail' feature.id %}">
            {{n}} dialect{{n|pluralize}}
          </a>
          {{n|pluralize:'has,have'}} this feature
          {% endwith %}
        </div>
        {% endif %}

      {% for close in info.close %}
      </li></ul>
      {% endfor %}
    {% endfor %}
  </ul>

  {% if dialects|length < 2 %}
  {# only allow inline editing for single-language selection #}
  <script>
  $(function(){
    $(document)
    .on('click', '.example .edit', function(e){
      $(this).parent()
        .addClass('loading')
        .load($(this).attr('href') + ' #form_holder form', function(response, status, xhr){
          $(this).removeClass('loading');
        })
      return false;
    })
    .on('submit', '.df_form', function(e){
      form_data = $(this).serializeArray();
      button = $(this).find("input[type=submit]:focus")
      form_data.push({ name: button.attr('name'), value: button.attr('value') });

      $(this).addClass('loading')
      $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: form_data,
        context: this,
        success: function(data){
          $example = $(this).parents('.example');
          $example.load($example.attr('data-src'));
        }
      });
      return false;
    })
    .on('click', '.example .cancel', function(e){
      $example = $(this).parents('.example');
      $example.addClass('loading')
              .load($example.attr('data-src'), function(){ $(this).removeClass('loading')});
      e.preventDefault();
      return false;
    })


  })
  </script>
  {% endif %}

{% endblock %}
