{% extends 'nena.html' %}

{% block subtitle %}
    {% if object.name %}
    Edit {{ object.name }}
    {% else %}
    New audio
    {% endif %}
{% endblock %}

{% block page_content %}
    {% block content_column_2 %}
        <div class='campl-column6'>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" value="Save" />
            </form>
        </div>
    {% endblock %}
{% endblock %}
