{% extends 'nena.html' %}
{% load widget_tweaks %}

{% block subtitle %}
    {% if object.name %}
    Edit {{ object.name }}
    {% else %}
    New audio
    {% endif %}
{% endblock %}

{% block page_content %}
    {% block content_column_2 %}
        <div class='campl-column6'>
            <form class="audio_form df_form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.media }}
                {% for field in form %}
                  {% if field.html_name == 'transcript' %}
                    {{ field.errors }}
                    {{ field.label_tag }}
                    <p style="font-style: italic; font-size: 0.7em; line-height: 1.2em">
                      Use numbers in brackets to align transcript and translation text. eg. "(1)"
                      can be inserted into both pieces of text, the bracketed number will be removed
                      and the texts aligned on the page at this point.<br>
                      Adding a time code to the markers in the transcript (not the translation) will
                      make the page align the audio track to the transcript, eg (1@0:00) First paragraph
                      (2@0:14) Second paragraph.
                    </p>
                    {{ field|add_class:"aramaic" }}
                  {% endif %}
                  {% if field.errors %}
                    <tr><td colspan=2>{{ field.errors }}</td></tr>
                  {% endif %}
                  <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                  </tr>
                {% endfor %}
                <tr><td></td><td><input class="button" type="submit" value="Save" /></td></tr>
            </table>
            </form>
        </div>
    <style>
      #id_description {width: 100%;}
      .audio_form table {margin: 1em 1em 3em; border-bottom-width: 0;}
      .audio_form td {padding: 0.5em 1em; background-color: transparent;}
    </style>
    {% endblock %}
{% endblock %}
