{% extends 'nena.html' %}

{% block subtitle %}
    {{ object.dialect }}: {{ object.title }}
{% endblock %}

{% block page_content %}
  <div class='campl-column12'>
  <div class="campl-content-container">


    <div class="sticky-bar">
      <button class="button play-button" data-action="play"><i class="material-icons">play_arrow</i></button>
      <div id="waveform"></div>
      <div id="playback-time">0:00</div>
    </div>

    <form class="transcribe_form" action="" method="post">
    {% csrf_token %}
      <table class="translation_table">
      <thead>
      <tr>
        <td><h2>Section</h2></td>
        <td><h2>Transcript</h2></td>
        <td><h2>Translation</h2></td>
      </tr>
      </thead>
      <tbody>
        {% for heading, transcript_chunk, translation_chunk in text_chunks %}
        <tr>
          <td><textarea {{form|yesno:',disabled'}} class="time-code">{{heading|safe}}</textarea></td>
          <td><textarea {{form|yesno:',disabled'}} class="aramaic" spellcheck="false">{{transcript_chunk|safe}}</textarea></td>
          <td><textarea {{form|yesno:',disabled'}}>{{translation_chunk|safe}}</textarea></td>
        </tr>
        {% endfor %}
      </tbody>
      {% if form %}
      <tfoot>
        <tr>
          <td></td>
          <td colspan=2>
            <i class="material-icons">info</i>
            use 'Alt' + keyboard character to cycle through alternative characters (Alt+'a' &rarr; ă)
            <input class="button" type="submit" value="Save" style="float:right;"/>
            <a class="button dull" href="{% url 'audio:audio-detail' form.instance.id %}" style="float:right;">Cancel</a>
          </td>
        </tr>
        <tr class="blank_row">
          <td><textarea {{form|yesno:',disabled'}} placeholder="time" class="time-code"></textarea></td>
          <td><textarea {{form|yesno:',disabled'}} placeholder="transcript" class="aramaic" spellcheck="false"></textarea></td>
          <td><textarea {{form|yesno:',disabled'}} placeholder="translation"></textarea></td>
        </tr>
      </tfoot>
      {% endif%}
      </table>

      <br>
      <br>
      <br>
      show raw texts <input type="checkbox" class="pop_open chex">
      <div>
        {% if form %}
        <a class="button compile">Compile the raw texts from the above sections</a>
        <br>
        {{form}}
        {% else %}
        <label for="id_transcript">Transcript:</label>
        <textarea name="transcript" cols="40" rows="10" id="id_transcript" {{form|yesno:',disabled'}}>{{clip.transcript}}</textarea>
        <label for="id_translation">Translation:</label>
        <textarea name="translation" cols="40" rows="10" id="id_translation" {{form|yesno:',disabled'}}>{{clip.translation}}</textarea>
        {% endif %}
      </div>
    </form>

  </div>
  </div>

  {% if not form %}
  <div class='campl-column12'>
  <div class="campl-content-container">
    {% if user.is_staff %}
      <div style="background-color: #fec9; padding: 6px;">
        Staff-only buttons: <br>
        <a class="button" href="{% url 'audio:audio-edit' clip.id %}">Change audio file or title</a>
        <a class="button" href="{% url 'audio:audio-transcribe' clip.id %}">Edit transcript or translation</a>
        <a class="button" href="{% url 'audio:audio-delete' clip.id %}">Delete audio, transcript and translation</a>
      </div>
    {% endif %}
  </div>
  </div>
  {% endif %}


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .material-icons { vertical-align: middle; }
    .sticky-bar {
      position:sticky;
      top: 0;
      background-color: #f7f4ed;
      padding: 0.5em 0;
    }
    .play-button {
      display: inline-block;
      width: 2.6em;
      height: 2.6em;
      margin: 2em 0.7em;
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;
      padding: 0.5em 0;
    }
    #playback-time {
      position:absolute;
      bottom:0;
      left: 0;
      width: 3.4em;
      text-align: center;
      color: #3f801e;
      font-size: 1.2em;
    }
    #waveform {
      position: relative;
      display: inline-block;
      width: 90%;
      vertical-align: middle;
    }

    .translation_table {
      width: 100%;
      border-bottom-width: 0!important;
      margin-top: 2em;
    }
    .translation_table td {
      padding: 0.5em;
    }
    .transcribe_form tbody, .transcribe_form thead {
      background-color: white;
    }
    .transcribe_form textarea {
      width: 100%;
      height: 100%;
      min-height: 3em;
      padding: 0.5em;
      font-size: 1.3em;
      line-height: 1.5em;
      margin: 0!important;
      background-color: white;
      border-width: 0;
      resize: none;
    }
    .transcribe_form textarea:disabled {
      cursor: text;
    }
    .translation_table textarea:disabled {
      cursor: pointer;
    }

    .translation_table tr.now-playing * {
      background-color: #cef;
    }


    .translation_table tfoot .blank_row {
      display: none;
    }

    .translation_table tr > td:nth-child(1) {
      width: 15%;
    }
    .translation_table td {
      width: auto;
    }

    .pop_open + * { display: none;}
    .pop_open:checked + * { display: block; margin: 2em 0;}

  </style>


  <script src="https://unpkg.com/wavesurfer.js@3.3.1/dist/wavesurfer.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
  <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.cursor.min.js"></script>
  <script charset="utf-8">
    var wavesurfer;
    var alt_characters = {
      'a': 'āăáà',
      'e': 'əē',
      'i': 'ī',
      'o': 'ð',
      'u': 'ū',
      'c': 'č',
      'd': 'ḍʣ',
      'h': 'ḥ',
      'r': 'ṛ',
      's': 'ṣšʦθ',
      't': 'ṭʦ',
      "'": "ʾʿ",
    }

    function time_string_to_seconds(time_string){
      // takes str("1:23") and returns int(83)
      if(matches = time_string.match(/@(\d+):(\d+)/))
      {
        return matches[1]*60 + matches[2]*1;
      }
      return false;
    }

    function set_now_playing(row){
      $('.now-playing').removeClass('now-playing');
      row.addClass('now-playing');

      [start_seconds, end_seconds] = get_start_end_seconds(row);
      wavesurfer.clearRegions();
      wavesurfer.addRegion({
        start: start_seconds,
        end: end_seconds,
        color: "rgba(200, 230, 255, 0.4)",
        drag: false,
        resize: false,
        loop: false,
      });
    }

    function get_start_end_seconds(row){
      start_seconds = time_string_to_seconds(row.find('.time-code').val());
      if(row.next().length){
        end_seconds = time_string_to_seconds(row.next().find('.time-code').val());
      }else{
        end_seconds = wavesurfer.getDuration();
      }
      return [start_seconds, end_seconds];
    }

    function compile_raw_texts(){
      form = $('.transcribe_form').eq(0)
      transcript_bits = form.find('tbody tr').map(function(){
        tas = $(this).find('textarea');
        return tas.eq(0).val() + tas.eq(1).val()
      }).get()
      $('[name="transcript"]').val(transcript_bits.join(''))

      translation_bits = form.find('tbody tr').map(function(){
        tas = $(this).find('textarea');
        return tas.eq(0).val() + tas.eq(2).val()
      }).get()
      $('[name="translation"]').val(translation_bits.join(''))
    }

    $(function(){
      // expand textareas to fit contents
      $('body').on('keyup', 'textarea', function(){
        elem = $(this)[0]
        if (elem.clientHeight < elem.scrollHeight) elem.style.height=elem.scrollHeight+"px";
      })
      $('textarea').trigger('keyup');

      // form compilation and saving
      $('.transcribe_form').on('submit', compile_raw_texts)
      $('.compile').on('click', compile_raw_texts);

      // audio visualisation
      wavesurfer = WaveSurfer.create({
          container: '#waveform',
          progressColor: '#aaa',
          cursorColor: '#d18f00',
          cursorWidth: '3px',
          waveColor: '#3f801e',
          loopSelection: true,
          normalize: false,
          responsive: true,
          barRadius: 0,
          barHeight: 1.3,
          barWidth: 0,
          plugins: [
            WaveSurfer.cursor.create({}),
            WaveSurfer.regions.create({})
          ],
      });
      wavesurfer.load('{{ clip.data.url }}');
      var button = document.querySelector('[data-action="play"]');
      button.addEventListener('click', wavesurfer.playPause.bind(wavesurfer));
      wavesurfer.on('pause', function () {
        button.innerHTML = '<i class="material-icons">play_arrow</i>';
      });
      wavesurfer.on('play', function () {
        button.innerHTML = '<i class="material-icons">pause</i>';
      });
      window.setInterval(function(){
        time = wavesurfer.getCurrentTime();
        $('#playback-time').html(parseInt(time/60) + ':' + parseInt(time%60).toString().padStart(2, '0'));

       $($('tbody tr').get().reverse()).each(function(){
        time_code = $(this).find('.time-code').val()
        if(time_code && time_string_to_seconds(time_code) < time){
          set_now_playing($(this));
          return false;
        }
       })

      }, 100);

      // playback for viewing not editing
      $('.translation_table').on('mouseup', 'textarea:disabled', function(){
        $row = $(this).parents('tr').eq(0);
        [start_seconds, end_seconds] = get_start_end_seconds($row);
        wavesurfer.play(start_seconds, end_seconds);
      });

      // keyboard shortcuts for non-keyboard characters (eg. ā ă á à e ə ē ī ð ū č ḍ ṭ ṣ š ḥ ʦ ʣ θ ṛ ʾ ʿ)
      function simulate_typing_string(input, string, replace_last_n_chars = 0){
        start = input.selectionStart - replace_last_n_chars;
        $(input).val($(input).val().slice(0, start) + string + $(input).val().slice(input.selectionEnd));
        input.selectionStart = start + string.length;
        input.selectionEnd = start + string.length;
      }

      $('body').on('keydown', 'textarea', function(e){
        chosen_key   = e.key;
        last_char    = $(this).val().charAt(this.selectionStart-1);
        $current_row = $(this).parents('tr').eq(0);
        textarea_idx = $current_row.find('textarea').index($(this))

        if(chosen_key == 'Enter' && last_char == '\n'){
          blank_row = $($('.blank_row').eq(0)[0].outerHTML);
          $current_row.after(blank_row);
          blank_row.find('textarea').eq(textarea_idx).focus();
          return false;
        }

        if(chosen_key == 'Backspace' && $(this).val() == ''){
          $prev_textarea = $current_row.prev().find('textarea').eq(textarea_idx);
          $prev_textarea[0].selectionStart = $prev_textarea.val().length;
          $prev_textarea.focus();
          $current_row.remove();
          return false;
        }

        if(e.altKey && (chosen_key == 'ArrowUp' || chosen_key == 'ArrowDown')){
          // alt+arrow just cycles the last character
          for(i in alt_characters){
            if(i == last_char || alt_characters[i].indexOf(last_char) >= 0){
              chosen_key = i;
              break;
            }
          }
        }

        if(e.altKey && chosen_key in alt_characters) {
          alts = chosen_key + alt_characters[chosen_key]
          idx = alts.indexOf(last_char);
          replace_length = idx < 0 ? 0 : 1;
          simulate_typing_string(this, alts[(idx+1)%alts.length], replace_length);
          e.preventDefault();
          return false;
        }
      })
    })
  </script>

{% endblock %}
