{% extends 'nena.html' %}

{% block subtitle %}
    {{ view.name }}
    {% if dialect %}
      for {{dialect}}
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class='campl-column10 clearfix'>
    <div class="campl-content-container">
    {% if clips %}
        <table class="campl-table campl-table-bordered campl-table-condensed campl-table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Dialect</th>
                    <th>Transcript</th>
                    <th>Translation</th>
                </tr>
            </thead>
        {% for clip in clips %}
            <tr>
                <td><a href="{% url 'audio:audio-detail' clip.id %}">{{ clip.title }}</a></td>
                <td><a href="{% url 'dialects:dialect-detail' clip.dialect__id %}">{{ clip.dialect__name }}</a></td>
                <td style="text-align: center;">{{ clip.transcript|yesno:"✔," }}</td>
                <td style="text-align: center;">{{ clip.translation|yesno:"✔," }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else%}
        No audio has been uploaded yet.
    {% endif %}

    {% include 'ucamprojectlight-pagination.html' %}
    </div>
    </div>

    {% if user.is_staff %}
    <div class='campl-column12'>
    <div class="campl-content-container">
        <div style="background-color: #fec9; padding: 6px;">
          Staff-only buttons: <br>
          <a class="button" href="{% url 'audio:audio-create' %}">New audio</a>
        </div>
    </div>
    </div>
    {% endif %}

{% endblock %}
