{% extends 'nena.html' %}

{% block subtitle %}
    {{ view.name }}
{% endblock %}

{% block page_content %}
    <div class='campl-column10 clearfix'>
    <div class="campl-content-container">
    {% if clips %}
        <table class="campl-table campl-table-bordered campl-table-condensed campl-table-striped">
            <thead>
                <tr>
                    <th>Dialect</th>
                    <th>Title</th>
                </tr>
            </thead>
        {% for clip in clips %}
            <tr>
                <td><a href="{% url 'dialects:dialect-detail' clip.dialect__id %}">{{ clip.dialect__name }}</a></td>
                <td>
                  <a href="{% url 'audio:audio-detail' clip.id %}">{{ clip.title }}</a>
                  {{ clip.transcript|yesno:"[transcript]," }}
                  {{ clip.translation|yesno:"[translation]," }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else%}
        No audio has been uploaded yet.
    {% endif %}
    {% if user.is_staff %}
        <div class="clearfix"><a class="button" href="{% url 'audio:audio-create' %}">New audio</a></div>
    {% endif %}
    {% include 'ucamprojectlight-pagination.html' %}
    </div>
    </div>
{% endblock %}
