{% extends 'nena.html' %}

{% block subtitle %}
About the NENA project
{% endblock %}


{% block page_content %}
  <div class="campl-column12" style="min-height: 600px;">
  <div class="campl-content-container">
    <p>
    This website is the result of a major initiative at the University of Cambridge to document the
    highly endangered North-Eastern Neo-Aramaic dialects (also known as NENA for short)
    under the direction of Geoffrey Khan. It aims at making the dialects accessible to scholars
    and the communities who still speak them or whose ancestors spoke them.
    It has been funded by the Arts and Humanities Research Council (AHRC), The Golden Web
    Foundation, the Newton Trust (Cambridge), the Global Challenges Research Fund, the British Academy
    and the Dutch Research Council.
    </p>

    <p>
    Researchers who have made important contributions to the content of the database include
    Eleanor Coghill, Roberta Borghero, Lidia Napiorkowska, Hezy Mutzafi, Alinda Damsma, Paul Noorlander and Dorota Molin.
    </p>

  </div>
  </div>

{% endblock %}
