{% extends 'nena.html' %}

{% block subtitle %}
Contribute to the NENA project
{% endblock %}


{% block page_content %}
  <div class="campl-column12">
  <div class="campl-content-container">
    <p style="font-weight: bold;">
    Do you want to join us in our mission to preserve and protect the NENA dialects?
    </p>
    <p>
    We would welcome anybody taking the initiative of making recordings of their relatives or
    acquaintances who speak one of the dialects, for example your parents, grandparents, uncles
    and aunts, or other elderly members of your community. If you are a native speaker of one of
    the North-Eastern Neo-Aramaic dialects and you would like to join us in the important task
    of preserving records of the dialects for future generations, here are some guidelines on how
    to do this:
    </p>
    <p>
    Please contact the documentation team (nena@ames.cam.ac.uk) led by Geoffrey Khan
    (gk101@cam.ac.uk) and let us know the name of the dialect you want to help to preserve.
    The easiest way to record is to video somebody using your smart phone, capturing both a
    sound and visual recording. There are a few basic instructions for recording:
    </p>

    <ol class="instruction_list">
    <li>
    Hold the smart phone quite close to the speakers. Ideally no more than 1 metre away. This
    will ensure that the sound recording is of a good quality.
    </li>
    <li>
    Record in a quiet environment, not in a room full of other noises or music.
    </li>
    <li>
    When you start recording begin by asking the speaker to tell you his/her name, the name of
    their father or family, the village the speaker’s family come from and when the speaker was
    born.
    </li>
    <li>
    Then ask the speaker some questions to encourage them to speak. For example, start by
    asking about memories of how life was in the old days in the village of the speaker. Ask
    about weddings, festivals, agriculture (how did people work on the land, how was the
    harvest?), food (e.g. how did you make yoghurt, cheese?), houses (how were the old
    houses?).
    </li>
    <li>
    Then ask whether the speaker knows any stories (tunayatha, qessetyatha, hukyatha).
    People used to tell stories in the villages, especially during the winter months, but now many
    of these stories are being forgotten.
    </li>
    <li>
    When you have made your recordings, please contact the documentation team
    (nena@ames.cam.ac.uk) as to how to transfer the files. We shall archive them and add them
    to the collection of recordings for each particular village.
    </li>
  </div>
  </div>

  <div class="campl-column12">
  <div class="campl-content-container">
    <h1>Help the project with a donation</h1>
    <p>
    The major task of preserving the many endangered dialects of Neo-Aramaic requires
    financial support. If you wish to support our project with a donation, please contact the
    director, Professor Geoffrey Khan (gk101@cam.ac.uk). The University of Cambridge is a
    charitable institution and any donations from the USA are tax-deductible.
    </p>

  </div>
  </div>

{% endblock %}
