{% extends 'nena.html' %}

{% block subtitle_div %}{% endblock %}

{% block page_content %}
  <br>
  <div class="campl-column4" style="height: 500px; position: relative;">
    <p class="aramaic" style="font-size: 3em; line-height: 1.3em;">
      A nice big intro strap-line explaining what this site's for
    </p>

    <br><a href="">an important link &raquo;</a>
    <br><a href="">and another &raquo;</a>
    <br>
    <select style="position: absolute; bottom: 0;font-size: 1.2em; width: 95%;height: auto; background-color: #a51137; border-radius: 5px; border-color: #851735; color: white;"
            onchange="window.location='{% url 'dialects:dialect-detail' 0%}'.replace('0', $(this).val())">
      <option value=0>Find dialect...</option>
      <option value=0> --- </option>
    {% for dialect in dialects %}
      <option value="{{dialect.id}}">{{dialect.name}}</option>
    {% endfor %}
    </select>

  </div>
  <div class="campl-column8">
      {% include "map.html" with map_data_json=map_data_json %}
  </div>
  <div class="campl-column12" style="column-count: 3; padding: 2em 0 5em; text-align: justify;">
    <p><b>This website gives access to database relating to the North
    Eastern Neo-Aramaic dialects.</b></p>
    <p>These "NENA" dialects form a very diverse
    group of Aramaic dialects that were spoken until
    modern times in Northern Iraq, North West Iran and South Eastern Turkey by
    Christian and Jewish communities. These are among the last remaining living
    vestiges of the Aramaic language, which was one of the major languages of the
    region in antiquity.</p>

    <p>Over the last few decades most of the speakers of these
    dialects have been forced to leave their places of residence and have settled
    in numerous grommunities throughout the world. The younger generations of these
    communities are increasingly losing competence in these dialects and as a
    result most of the dialects are now in danger of extinction. It is an urgent
    task for Semitic philology to study and document the dialects while competent
    speakers can still be located.</p>


    <p>The construction of the database is taking place at the Faculty of Oriental
    Studies of Cambridge University within the framework of a five year project
    that is funded by the British Arts and Humanities Research Council (AHRC)
    (October 2004 - September 2009). One of the main objectives of the project is
    to produce sketches of the individual dialects according to a fixed
    questionnaire format and make these sketches available to the public through
    this website. It will be possible to make comparative searches across the
    dialects and to create customized electronic map displays of the distribution
    of linguistic features. The website will also contain audio recordings of the
    dialects. The sketches of each dialect are being prepared on the basis of
    fieldwork carried out by a team of researchers. Grammatical material that has
    been published already will also be used as a source for the data. We plan to
    publish collections of articles about the dialects we have investigated in hard
    copy form. It is our hope that other scholars who are actively researching the
    NENA dialects will contribute articles to these collections and that this
    initiative will act as a stimulus for them to publish data that they have
    collected. This will ensure that the database will have the maximal coverage of
    the dialect group.</p>

  </div>
{% endblock %}
