{#  optional parameters taken by this template:                                                       #}
{#  - `map_data_json` is a json string containing a plottable set of data consumed by `L.geoJSON()`   #}
{#  - `map_center` is a two value list (longitude, latitude)                                          #}

<div id="map"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="/static/js/borders.js"></script>
<script>

    var normalmap = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}.{ext}', {
            attribution: '&copy; <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            minZoom: 6,
            maxZoom: 11,
            ext: 'png' });
    /*
    var printmap = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_nolabels/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            minZoom: 6,
            maxZoom: 11 });
    */
    var cities = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_only_labels/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            minZoom: 6,
            maxZoom: 11,
            ext: 'png' });
    var cities_and_terrain = new L.LayerGroup([normalmap, cities])
    var baseLayers = {
        "Normal view": cities_and_terrain,
        //"Print view": printmap,
    };

    dataLayerOptions = {pointToLayer: function (feature, latlng) {
        props = feature.properties;
        class_list = props.community ? 'icon_base icon_' + props.community : 'default-icon';
        if(props.focus){
            class_list += ' icon_focus';
        }
        if(props.group){
          class_list += ' group_'+props.group;
        }
        myIcon   = L.divIcon({iconSize: L.point(7, 7), className: class_list });
        myMarker = L.marker(latlng, { icon: myIcon });

        tooltip_options = {
            offset: L.point(0, -10),
            direction: 'top',
            className: 'map_tooltip',
            permanent: props.focus ? true : false,
        }
        if( props.type == 'entry' ){
          tooltip_content = props.entry + '<br><span style="font-size:60%">'+props.dialect+'</span>';
        }else{
          tooltip_content = props.dialect;
        }
        myMarker.bindTooltip(tooltip_content, tooltip_options);

        if(props.url){
            myMarker.on("click", function(){window.location = props.url});
        }
        return myMarker;
    }};
    var center = [{{map_center.0|default:'37'}}, {{map_center.1|default:'45'}}];
    var map     = L.map('map',{layers: [cities_and_terrain /*, printmap*/], center: center, zoom: 7, maxBoundsViscosity: 0.9});
    var borders = L.geoJSON(country_borders, {style: function(feature) { return { className: feature.properties.class }} }).addTo(map);
    var data    = L.geoJSON(null, dataLayerOptions).addTo(map);

    data.addData({{map_data_json|safe}});
    map.setMaxBounds(data.getBounds().pad(.2));

    /* {# may keep to re-introduce print mode #}
    var overlays = {
        "Data": data,
        "Country borders" : borders,
    };
    L.control.layers(baseLayers, overlays).addTo(map);
    */

    /* {# not sure this is doing anything, to remove if we don't implement label culling on zoom #}
    var show_label_zoom = 3; // zoom level threshold for showing/hiding labels
    var labels_visible = true;
    function show_hide_labels() {
        var cur_zoom = map.getZoom();
        if(labels_visible && cur_zoom < show_label_zoom) {
            labels_visible = false;
            map.eachLayer(function (layer) {
                layer.hideLabel && layer.hideLabel();
            });
        }
        else if(!labels_visible && cur_zoom >= show_label_zoom) {
            labels_visible = true;
            map.eachLayer(function (layer) {
                layer.showLabel && layer.showLabel();
            });
        }
    }
    map.on('zoomend', show_hide_labels);
    */
</script>
