{#  optional parameters taken by this template:                                                       #}
{#  - `map_data_json` is a json string containing a plottable set of data consumed by `L.geoJSON()`   #}
{#  - `map_center` is a two value list (longitude, latitude)                                          #}
{% load static %}
<style>
.widscreen_map #map{
  width: 100vw;
  height:90vh;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-radius: 0;
}
.widscreen_map #map .icon_base:before,
.widscreen_map #map .label:before {
    top: -4px;
    left: -4px;
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    box-sizing: border-box;
    border: 1px solid black;
}
.widscreen_map #map .icon_C:before {
  z-index: 1;
  background: rgba(255,0,0,1);
}
.widscreen_map #map .icon_J:before {z-index: 2; background: rgba(0,0,255,1);}

.widescreen_map #map .my-div-icon {width: 100px!important; height: auto!important; padding: 5px; background-color:#ffeeccaa;}

#map .river {
  stroke: cyan;
  stroke-width: 5px;
  fill: none;
}
</style>

{% if not hide_toggles %}
<input type="checkbox" id="toggle-names">
<input type="checkbox" id="toggle-colors" checked>
{% endif %}
<div id="map">
  <div class="key">
    <span class="icon_base icon_C">Christian</span> &nbsp;
    <span class="icon_base icon_J">Jewish</span>
  </div>
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src="{% static 'js/borders.js' %}"></script>
<script>

    var normalmap = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}.{ext}', {
            attribution: '&copy; <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            minZoom: 6,
            maxZoom: 11,
            ext: 'png' });
    var cities = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_only_labels/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            minZoom: 6,
            maxZoom: 11,
            ext: 'png' });
    var cities_and_terrain = new L.LayerGroup([normalmap, cities])

    var cities_and_terrain =  L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.{ext}', {
              attribution: '&copy; <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
              minZoom: 6,
              maxZoom: 11,
              ext: 'png' });

    var printmap = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            minZoom: 6,
            maxZoom: 11 });

    var baseLayers = {
        "Normal view": cities_and_terrain,
        "Print view": printmap,
    };

    var center = [{{map_center.0|default:'37'}}, {{map_center.1|default:'45'}}];
    var map     = L.map('map',{layers: [cities_and_terrain], center: center, zoom: 5, maxBoundsViscosity: 0.9});
    var river_zab = L.geoJSON(river_zab_rough, {style: function(feature) { return { className: feature.properties.class }} }).addTo(map);

    map.addControl(new L.Control.Fullscreen());

    var myIcon = L.divIcon({className: 'my-div-icon', html:"I am custom text on the map"});
    L.marker([36.995, 44.896], {icon: myIcon}).addTo(map);

    // Process our map data points, grouping into layers by point.properties.group
    // if this doesn't exist stick them in a single layer called "points"
    json_data = {{map_data_json|safe}};
    all_names = json_data.map(point => point.properties.group)
                         .filter(x => typeof x !== 'undefined')
    group_names = Array.from(new Set(all_names))

    if( !group_names.length ){
      group_names = ['points']
    }

    groups = {}
    for(i in group_names){
      var group = L.featureGroup();
      group.addTo(map);
      groups[group_names[i]] = group;
    }

    // This provides a lookup function to convert from a geoJSON item to a Leaflet Marker
    dataLayerOptions = {pointToLayer: function (feature, latlng) {
        var props = feature.properties;
        class_list = props.community ? 'icon_base icon_' + props.community : 'default-icon';
        if(props.focus){
            class_list += ' icon_focus';
        }
        if(typeof props.group_number !== 'undefined'){
          if(group_names.length < 2)
          {
            class_list += ' only_group';
          }else{
            class_list += ' original_group_'+props.group_number+' group_'+props.group_number;
          }
        }
        myIcon   = L.divIcon({iconSize: L.point(7, 7), className: class_list });
        myMarker = L.marker(latlng, { icon: myIcon });

        tooltip_options = {
            offset: L.point(0, -10),
            direction: 'top',
            className: 'map_tooltip',
            permanent: props.focus ? true : false,
        }
        if( props.type == 'entry' ){
          tooltip_content = '<span class="aramaic entry">'+props.entry+'</span><span class="dialect">'+props.dialect+'</span>';
        }else{
          tooltip_content = '<span class="dialect">'+props.dialect+'</span>';
        }
        myMarker.bindTooltip(tooltip_content, tooltip_options);

        if(props.url){
            myMarker.on("click", function(){window.location = props.url});
        }
        return myMarker;
    }};

    for(i in json_data){
      marker_data = json_data[i]
      group_name = marker_data.properties.group || 'points';
      marker_data['properties']['group_number'] = group_names.indexOf(group_name);
      marker = L.geoJSON(marker_data, dataLayerOptions)
      marker.addTo(groups[group_name]);
    }

    if(group_names.length > 1){
      prefixed_groups = {};
      group_counter = 0;
      for(group_name in groups){
        group = groups[group_name]
        prefixed_name = '<span class="label group_'+group_counter+'"></span> '+group_name+' <i>('+group.getLayers().length+')</i>';
        prefixed_groups[prefixed_name] = group;
        group_counter++;
      }
    }else{
      prefixed_groups = groups;
    }
    L.control.layers(baseLayers, prefixed_groups, {collapsed:false}).addTo(map);



    markers = L.geoJSON(json_data, dataLayerOptions)
    map.setMaxBounds(markers.getBounds().pad(.2));
    map.fitBounds(markers.getBounds());

    map.on('baselayerchange', function(e) {
      $('#map').toggleClass('print')
      printing = $('#map').hasClass('print')

      map.eachLayer(function(layer) {
          if(layer.options.pane === "markerPane"){
            if(printing){
              tooltip = layer.getTooltip();
              tooltip.options.permanent = true;
              tooltip.options.direction = 'right';
              tooltip.options.offset    = L.point(10, 4);
              tooltip.update();
              layer.openTooltip();
            }else{
              layer.closeTooltip();
            }
          }
      });

      $('.leaflet-tooltip-top, .leaflet-tooltip-right')
        .toggleClass('leaflet-tooltip-top')
        .toggleClass('leaflet-tooltip-right')
    });


    // Correct css-based group numbering when marker groups are toggled on and off
    map.on("overlayadd overlayremove", function(e){
      toggle_panel = $('.leaflet-control-layers-overlays');

      // set up a permanent link between the toggle labels and the markers they refer to
      toggle_panel.find('.label').each(function(i){
        $(this).attr('data-marker-class', 'original_group_'+i)
      })

      $('#map label.printable').removeClass('printable') // resets all controls so only those checked will show in print view

      // clear any class that starts "group_" from both toggle labels and map markers
      toggle_panel.find('.label')
        .add('#map .icon_base')
        .attr('class', (i, c) => c.replace(/(^|\s)group_\d+/g, ' group_off'));

      // run through the checkboxes adding updated "group_x" classes to related label and markers
      toggle_panel.find('input:checked').each(function(i){
        $(this).parents('label').eq(0).addClass('printable') // marks the control from the group so it doesn't get hidden in print view
        marker_class = $(this).parent().find('.label').attr('data-marker-class')
        $(this).parent().find('.group_off')
          .add('#map .'+marker_class)
          .removeClass('group_off')
          .addClass('group_'+i);
      })
    })

    /* {# not sure this is doing anything, to remove if we don't implement label culling on zoom #}
    var show_label_zoom = 3; // zoom level threshold for showing/hiding labels
    var labels_visible = true;
    function show_hide_labels() {
        var cur_zoom = map.getZoom();
        if(labels_visible && cur_zoom < show_label_zoom) {
            labels_visible = false;
            map.eachLayer(function (layer) {
                layer.hideLabel && layer.hideLabel();
            });
        }
        else if(!labels_visible && cur_zoom >= show_label_zoom) {
            labels_visible = true;
            map.eachLayer(function (layer) {
                layer.showLabel && layer.showLabel();
            });
        }
    }
    map.on('zoomend', show_hide_labels);
    */
</script>
