    <div class="campl-row campl-page-header">
        <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
            <div class="campl-local-navigation-container campl-mobile">
                <ul class="campl-unstyled-list">
                    {% if request.session.dialect_group_id == 1 %}
                    <li><a href="{% url 'index' %}">Introduction</a></li>
                    <li><a href="{% url 'dialects:dialect-list' %}">Dialects</a></li>
                    <li><a href="{% url 'grammar:feature-list' %}">Compare Dialects</a></li>
                    {% endif %}
                    <li><a href="{% url 'audio:audio-list' %}">Audio Material</a></li>
                    {% if request.session.dialect_group_id == 1 %}
                    <li><a href="{% url 'gallery:photo-list' %}">Image Gallery</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contribute' %}">Contribute</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li style="float:right;"><a href="{% url 'dialects:problems' %}">Problems</a></li>
                    <li style="float:right;"><a href="{% url 'admin:auth_user_changelist' %}" target="_BLANK">Users</a></li>
                    <li style="float:right;"><a href="{% url 'audio:search' %}">Search</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
