        <div >
            <h2>The North Eastern Neo-Aramaic Database Project</h2>
            <p>This website, which is currently under construction, will give access to an
            electronic database relating to the North Eastern Neo-Aramaic dialects.</p>
            <p>The North Eastern Neo-Aramaic dialects (generally known as the NENA
            dialects) form a very diverse group of Aramaic dialects that were spoken until
            modern times in Northern Iraq, North West Iran and South Eastern Turkey by
            Christian and Jewish communities. These are among the last remaining living
            vestiges of the Aramaic language, which was one of the major languages of the
            region in antiquity. Over the last few decades most of the speakers of these
            dialects have been forced to leave their places of residence and have settled
            in numerous grommunities throughout the world. The younger generations of these
            communities are increasingly losing competence in these dialects and as a
            result most of the dialects are now in danger of extinction. It is an urgent
            task for Semitic philology to study and document the dialects while competent
            speakers can still be located.</p>
            <p>The construction of the database is taking place at the Faculty of Oriental
            Studies of Cambridge University within the framework of a five year project
            that is funded by the British Arts and Humanities Research Council (AHRC)
            (October 2004 - September 2009). One of the main objectives of the project is
            to produce sketches of the individual dialects according to a fixed
            questionnaire format and make these sketches available to the public through
            this website. It will be possible to make comparative searches across the
            dialects and to create customized electronic map displays of the distribution
            of linguistic features. The website will also contain audio recordings of the
            dialects. The sketches of each dialect are being prepared on the basis of
            fieldwork carried out by a team of researchers. Grammatical material that has
            been published already will also be used as a source for the data. We plan to
            publish collections of articles about the dialects we have investigated in hard
            copy form. It is our hope that other scholars who are actively researching the
            NENA dialects will contribute articles to these collections and that this
            initiative will act as a stimulus for them to publish data that they have
            collected. This will ensure that the database will have the maximal coverage of
            the dialect group.</p>
        </div>
