{% extends 'nena.html' %}

{% block subtitle %}
    {{ view.name|safe }}
{% endblock %}

{% block page_content %}
  <div class="campl-column12">
  <div class="campl-content-container">

      {% include "map.html" %}
      <br>
      <br>
      <br>
      <table class="campl-table">
      <thead><th><b>Map</b></th><th>{{ dialectmap.name }}</th></thead>
      <tr><td><b>Author:</b></td><td>{{ dialectmap.author }}</td></tr>
      <tr><td><b>Public</b></td><td>{% if dialectmap.public %}yes{% else %}no{% endif %}</td></tr>
      </table>

  </div>
  </div>
{% endblock %}
