{# expects `dialect_id`, `feature_heading` and `entries` to be set #}
{% if entries %}
  {% for entry in entries %}
    <a class="plain" href="{% url 'dialects:dialect-feature' dialect_id entry.df_id %}">
    {{entry.text|safe}}
    </a>

    {% if not forloop.last %}
    <br>
    {% endif %}
  {% endfor %}
{% endif %}
{% if user.is_staff %}
  <a class="edit" href="{% url 'dialects:dialect-feature-edit' dialect_id feature_heading %}" target="_BLANK" title="add">
  {{entries|yesno:"&#x270D;,+ add"|safe}}
  </a>
{% endif %}
