{% extends 'nena.html' %}

{% block subtitle %}
    {{ object.feature.fullheading }} {{ object.feature.name|safe }}
    in <a href="{% url 'dialects:dialect-detail' object.dialect_id %}">{{object.dialect}}</a>
{% endblock %}

{% block page_content %}
  <div class='campl-column12'>
  <div class="campl-content-container">

    {% if object.is_absent %}
    <p>Dialect does not have this feature</p>
    {% endif %}
    {% if object.feature.category_list %}
    <p><b>{{object.category}}</b></p>
    {% endif %}

    {% if object.introduction %}
    <p>{{object.introduction}}</p>
    {% endif %}
    {% if object.comment %}
    <p>{{object.comment|safe}}</p>
    {% endif %}

    <ul class="campl-unstyled-list">
      {% for example in examples %}
          <li>
            Example: "{{ example.entry }}"<br>
            Frequency: {{ example.frequency }}<br>
            Comment: {{ example.comment }}
          </li>
      {% empty %}
          <li><i>No examples recorded</i></li>
      {% endfor %}
    </ul>

    {% if user.is_staff %}
      <div style="margin-top: 100px;">
        <a class="button" href="{% url 'dialects:dialect-feature-edit' object.dialect.id object.feature.fullheading %}">Edit entry</a>
      </div>
    {% endif %}
    <p>
      <br>
      <br>
      <br>
      <a href="{% url 'grammar:feature-detail' object.feature.id %}">
        Compare this feature across other dialects &raquo;
      </a>
    </p>
  </div>
  </div>
{% endblock %}
