{% extends 'nena.html' %}

{% block subtitle %}
    {{ object.feature.fullheading }} {{ object.feature.name|safe }} in {{object.dialect}}
{% endblock %}

{% block page_content %}
  <div class='campl-column3'>
    <p>introduction:{{object.introduction}}</p>
    <p>comment:{{object.comment}}</p>

    <ul class="campl-unstyled-list">
      {% for example in examples %}
          <li>
            {{ example.entry|safe }} [{{ example.frequency }}]<br>
            {{ example.comment|safe }}
          </li>
      {% empty %}
          <li><i>No examples recorded</i></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
