{% extends 'nena.html' %}

{% block subtitle %}
    {{ object.name }}
{% endblock %}

{% block page_content %}
  <div class='campl-column6'>
  <div class="campl-content-container">
    <table class="campl-table">
      <tr><td><b>Community:</b></td><td>{{ object.get_community_display }}</td></tr>
      <tr><td><b>Location:</b></td><td>{{ object.get_location_display }}</td></tr>
      <tr><td><b>Source:</b></td><td>{{ object.source|safe }}</td></tr>
    </table>
    {% if object.information %}
      <h4>Further information about {{ object.name }}</h4>
      <p>{{ object.information|safe }}</p>
    {% endif %}
    {% if object.remarks %}
      <h4>General remarks about the dialect</h4>
      <p>{{ object.remarks|safe }}</p>
    {% endif %}

    {% if photos %}
    <p>
      {% for photo in photos %}
        <a class="thumbnail" href="{% url 'gallery:photo-detail' photo.pk  %}" title="{{photo.title}}"
           style="background-image:url({{ photo.thumbnail.url }})"></a>
      {% endfor %}
    </p>
    {% endif %}

    {% if audio %}
    <p>
      {% for clip in audio %}
        <a class="audio" href="{% url 'audio:audio-detail' clip.pk  %}">&#128266; {{clip.title}}</a><br>
      {% endfor %}
      <a class="fr" href="{% url 'dialects:dialect-audio' object.pk %}">Browse audio and transcripts &raquo;</a>
    </p>
    <br>
    <br>
    {% endif %}

    <p>
      {% if feature_count %}
      There are currently {{feature_count}} documented feature{{feature_count|pluralize}} of this dialect -
      <a class="fr" href="{% url 'dialects:dialect-grammar' object.pk %}">Browse grammatical description &raquo;</a>
      <br>
      {% else %}
        No features of this dialect are currently documented
        {% if user.is_staff %}
        - <a href="{% url 'dialects:dialect-grammar' object.pk %}">add some</a>
        {% endif %}
      {% endif %}
    </p>

  </div>
  </div>

  {% if object.latitude and object.longitude %}
  <div class="campl-column6" style="padding: 0 10px 40px; box-sizing: border-box; position: relative; top: -80px;">
   {% include "map.html" with map_data_json=map_data_json map_center=map_center %}
  </div>
  {% endif %}

  <div class='campl-column12'>
  <div class="campl-content-container">
    {% if user.is_staff %}
      <div style="background-color: #fec9; padding: 6px;">
        Staff-only buttons: <br>
        <a class="button" href="{% url 'dialects:dialect-edit' object.pk %}">Edit dialect details</a>
        <a class="button" href="{% url 'dialects:dialect-delete' object.pk %}">Delete dialect</a>
        <a class="button" href="{% url 'audio:audio-create'%}">Add audio</a>
        <a class="button" href="{% url 'gallery:photo-create'%}">Add image</a>
      </div>
    {% endif %}
  </div>
  </div>
{% endblock %}
