{% extends 'nena.html' %}
{% load humanize %}

{% block subtitle %}
    {{ view.name }}
{% endblock %}

{% block page_content %}
  <div class='campl-column8 clearfix'>
  <div class="campl-content-container">
      {% include 'dialects/_dialect_filter.html' %}
      <table class="campl-table campl-table-bordered campl-table-condensed campl-table-striped">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Community</th>
                  <th>Location</th>
                  <th>Documented Features</th>
              </tr>
          </thead>
      {% for dialect in object_list  %}
          <tr>
              <td><a href={% url 'dialects:dialect-detail' dialect.pk %}>{{ dialect.name }}</a></td>
              <td>{{ dialect.get_community_display }}</td>
              <td>{{ dialect.get_location_display }}</td>
              <td style="text-align:right">
                <a href="{% url 'dialects:dialect-grammar' dialect.id %}">{{ dialect.num_features|intcomma|default:'' }}</a>
              </td>
          </tr>
      {% empty %}
          No dialects.
      {% endfor %}
      </table>

      {% include 'ucamprojectlight-pagination.html' %}
  </div>
  </div>

  {% if user.is_staff %}
  <div class='campl-column12'>
  <div class="campl-content-container">
      <div style="background-color: #fec9; padding: 6px;">
        Staff-only buttons: <br>
        <a class="button" href="{% url 'dialects:dialect-new' %}">New dialect</a>
      </div>
  </div>
  </div>
  {% endif %}

{% endblock %}
