{% extends 'nena.html' %}

{% block subtitle %}
    {{ object.feature.fullheading }} {{ object.feature.name|safe }} in {{object.dialect}}
{% endblock %}

{% block page_content %}
  <div class='campl-column12'>
  <div class="campl-content-container">

    <p>introduction:{{object.introduction}}</p>
    <p>comment:{{object.comment}}</p>

    <ul class="campl-unstyled-list">
      {% for example in examples %}
          <li>
            Example: "{{ example.entry }}"<br>
            Frequency: {{ example.frequency }}<br>
            Comment: {{ example.comment }}
          </li>
      {% empty %}
          <li><i>No examples recorded</i></li>
      {% endfor %}
    </ul>

    <p>
      <br>
      <br>
      <br>
      <a href="{% url 'grammar:feature-detail' object.feature.id %}">
        Compare this feature across other dialects &raquo;
      </a>
    </p>
  </div>
  </div>
{% endblock %}
