{% extends 'nena.html' %}

{% block subtitle %}
    Data quality issues
{% endblock %}

{% block page_content %}
    <div class="campl-column12">
    <div class="campl-content-container">
      <p>
          The text we're looking at is in the 'entry' field of an example of a dilect's feature.
          This should only contain aramaic text. Any definition should be moved to the example's comment.
          If it's not an example it should be moved to a new field on the entry proper (rather than as one if it's examples).
      </p>

      <h2>Examples we can't automatically fix ({{cantfix_count}} total)</h2>
      <p>
      {% for i in cantfix %}
          {{i.0}} <a href="{% url 'dialects:dialect-feature' i.1 i.2 %}">view &raquo;</a><br>
      {% endfor %}
      </p>

      <h2>Examples we should be able to automatically fix</h2>
      {% for type, num, examples in canfix %}
      <p>
        <b>{{type}} appears {{num}} times</b>, eg:<br>
        {% for example in examples %}
          {{example.0}} <a href="{% url 'dialects:dialect-feature' example.1 example.2 %}">view &raquo;</a>
          {% if type == 'comma' %}
            <a href="{% url 'dialects:split-entries' example.3 %}">split entries &raquo;</a>
          {%endif%}
          <br>
        {% endfor %}
      </p>
      {% endfor %}

    </div>
    </div>
{% endblock %}
